:root{
    --main-text-color: ;
    --secondary-text-color: ;
    --background-color: ;
    --link-color: ;
    --button-color: ;
}
body{
    margin: 0;
    overflow-x: hidden;
}
input, label {
    display:block;
    width: 100%;
}
.form-button {
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    padding: 10px 25px 10px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.form-button:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color:#378de5;
}
.form-button:active {
    position:relative;
    top:1px;
}
.title{
    font-size: clamp(26px, 4vw, 36px);
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.left{
    width: 40vw;
    height: 100vh;
    overflow: hidden;
}
.right{
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    margin: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media only screen and (max-width: 1200px) {
    .container{
        flex-direction: column;
   }
    .left{
        width: 100vw;
        height: 20vh;
   }
    .right{
        width: 100vw;
        height: 100vh;
   }
}
